* {
    box-sizing: border-box;
}

/* #grid
{

} */

#grid-container
{
    display: inline-block;
    /* text-align: center;    */
    background-color: rgb(87, 148, 127);
    margin-left: 40%;
    margin-right: 40%;
} 
.cell
{
    border: 1px solid black;
    display: inline-block;
}
/* .red
{
    background: rgb(141, 188, 233);
} */
body
{
    background: lightgray;
}

.ocean
{
    /* text-align: center; */
    background-color: blue;
    /* display: inline-block; */

}
